.register-user-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 65px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
select {
    width: 100%;
    /* Set width to 100% for uniform width */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select#userRole {
    width: calc(100% - 2px);
    /* Subtract 2px to account for the border width */
    appearance: none;
}

.register-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-button:hover {
    background-color: #0056b3;
}

.loading,
.error-message,
.success-message {
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
}

.loading {
    background-color: #f0f0f0;
}

.error-message {
    background-color: #f8d7da;
    color: #721c24;
}

.success-message {
    background-color: #d4edda;
    color: #155724;
}